.ql-picker.ql-font .ql-picker-label[data-value="Arial"]::before,
.ql-picker.ql-font .ql-picker-item[data-value="Arial"]::before {
  font-family: "Arial" !important;
  content: "Arial";
}

.ql-picker.ql-font .ql-picker-label[data-value="Raleway"]::before,
.ql-picker.ql-font .ql-picker-item[data-value="Raleway"]::before {
  font-family: "Raleway" !important;
  content: "Raleway";
}

.ql-font-Raleway {
  font-family: "Raleway";
}
.ql-font-Arial {
  font-family: "Arial";
}
