@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
.ql-picker.ql-font .ql-picker-label[data-value="arial"]::before,
.ql-picker.ql-font .ql-picker-item[data-value="arial"]::before {
  font-family: "Arial" !important;
  content: "Arial";
}

.ql-picker.ql-font .ql-picker-label[data-value="raleway"]::before,
.ql-picker.ql-font .ql-picker-item[data-value="raleway"]::before {
  font-family: "Raleway" !important;
  content: "Raleway";
}

.ql-font-raleway {
  font-family: "Raleway" !important;
}
.ql-font-arial {
  font-family: "Arial" !important;
}

.ql-picker.ql-font .ql-picker-label[data-value="roboto"]::before,
.ql-picker.ql-font .ql-picker-item[data-value="roboto"]::before {
  font-family: "Roboto" !important;
  content: "Roboto" !important;
}

.ql-picker.ql-font .ql-picker-label[data-value="raleway"]::before,
.ql-picker.ql-font .ql-picker-item[data-value="raleway"]::before {
  font-family: "Raleway" !important;
  content: "Raleway" !important;
}

.ql-picker.ql-font .ql-picker-label[data-value="montserrat"]::before,
.ql-picker.ql-font .ql-picker-item[data-value="montserrat"]::before {
  font-family: "Montserrat" !important;
  content: "Montserrat" !important;
}

.ql-picker.ql-font .ql-picker-label[data-value="lato"]::before,
.ql-picker.ql-font .ql-picker-item[data-value="lato"]::before {
  font-family: "Lato" !important;
  content: "Lato" !important;
}

.ql-picker.ql-font .ql-picker-label[data-value="rubik"]::before,
.ql-picker.ql-font .ql-picker-item[data-value="rubik"]::before {
  font-family: "Rubik" !important;
  content: "Rubik" !important;
}

/* Set content font-families */
.ql-font-roboto {
  font-family: "Roboto" !important;
}
.ql-font-raleway {
  font-family: "Raleway" !important;
}
.ql-font-montserrat {
  font-family: "Montserrat" !important;
}
.ql-font-lato {
  font-family: "Lato" !important;
}
.ql-font-rubik {
  font-family: "Rubik" !important;
}
